@import '../../../global.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--brown);
  color: white;
}

.overflow{
  overflow-y: hidden;
}

header {
  position: fixed;
  background-color: #FFF;
  z-index: 2;
  padding: 0 4rem;

  width: 100vw;
  height: 6rem;

  display: flex;
  align-content: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--blue);
}
/*<===============MENU=============>*/
.logoHeader img {
  height: 4rem;
  margin-top: .5rem;
  padding: 0 .8rem;
}

header .icon img{
  border-radius: 999rem;
  height: 4rem;
  border: 1px solid black;
}

header .icon {
  display: none;
  align-items: center;
}

.menuBar {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menuBar img{
  display: flex;
  height: 4rem;
}

.activeMenu{
  width: 100vw;
  height: 100vh;
}


.menuMobile {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.menuMobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.6rem;
  list-style: none;
}

.menuMobile ul li a{
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;

  border: 1px solid white;
  border-radius: 3rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.menuMobile ul li:hover{
  transform: scale(1.1);
  transition: 100ms;
}
/*<===============================>*/

#anunciar{
  font-size: 20px;
  color: #FFF;
}
.owl-dots{
  text-align: center;
  margin-top: 4rem;
}

.owl-dot{
  height: 1.5rem;
  width: 4.5rem;
  border-radius: 2rem;
  cursor: pointer;
  outline: none;
  margin: 0 .5rem;
  border: 2px solid var(--blue)!important;
  transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active{
  background-color: var(--blue)!important;
}

@keyframes downTop {
  0%{
    opacity: 0;
    transform: translateY(15px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topDown {
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes leftRight {
  0%{
    opacity: 0;
    transform: translateX(-15px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width:440px){
  .carouselpet .card{
    height: 26rem;
  }
}

@media (min-width:1200px){
  .pets-cards {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .menuBar, .menuBar img{
    display: none;
  }

  header {
    display: flex;
  }

  .menuDesktop {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .menuDesktop ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.6rem;
  }

  .menuDesktop ul li {
    text-decoration: none;
  }

  .menuDesktop ul li a{
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
  }

  header .icon{
    display: flex;
  }

  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 85rem;
  }
}