@import '../../../global.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-blue);
  color: black;
  font-size: 1.6rem;
}

.overflow{
  overflow-y: hidden;
}

/*  */

/*<===============MENU=============>*/

.logoHeader img {
  height: 4rem;
  margin-top: .5rem;
  padding: 0 .8rem;
}

header .icon img{
  border-radius: 999rem;
  height: 4rem;
  border: 1px solid black;
}

header .icon {
  display: none;
  align-items: center;
}

.menuBar {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menuBar img{
  display: flex;
  height: 4rem;
}

.activeMenu{
  width: 100vw;
  height: 100vh;
  background-color: var(--brown);
}


.menuMobile {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.menuMobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.6rem;
  list-style: none;
}

.menuMobile ul li a{
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;

  border: 1px solid white;
  border-radius: 3rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.menuMobile ul li:hover{
  transform: scale(1.1);
  transition: 100ms;
}

/*<===================================>*/
/*<============FRENTE DO SITE==============>*/
.logo{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
}

.logo img {
  width: clamp(4vw, 3vw + 3vw, 10vw);
  background-color: transparent;
}
.logo h1 {
  font-size: clamp(0.5rem,2vw,1.8rem);  
}
.content_home{
  width: 100vw;
  justify-content: space-around;
    display: flex;
    flex-direction:row;
    top: 5rem;
    position: absolute;
}
.text_home{
  margin-left: 5%;
  margin-top:10%;
}

.text_home img {
  width: 8rem;
}

.top-icon-banner{
  position: absolute;
  top: 7rem;
  left: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-icon-banner img{
  width: 12rem;
}

@media only screen and (min-width: 1000px) {
  .text_home{
    margin-top: 15%;
  }
}
#title_home{
  color:#334B4E;
  font-weight: bold;
  font-size: clamp(1rem,5vw,3rem);
}
#sub_home{
  color: rgb(70, 68, 68);
  font-size: clamp(0.5rem,3vw,2rem);
}
.img_home{
  float: left;
  padding-right: 30%;
  overflow: hidden;
}
/*<=========EM DESTAQUE===========>*/

.highlights {
  margin-top: 70%;
}
@media only screen and (min-width: 1000px) {
  .highlights{
    margin-top: 60%;
  }
}

.highlights h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.pets-cards{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pet-card {
  background-color: white;
  margin: 0 auto;
  border-radius: .8rem;
  box-shadow: 2px 4px 12px 0px #00000080;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: black;
  width: 90vw;
  max-width: 45rem;
}

.pet-card h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pet-card ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  list-style: none;
}

.pet-card h1 {
  font-size: 3.2rem;
}

.image-card {
  width: 90vw;
  max-width: 45rem;
  height: 60%;
}

.image-card img {
  width: 100%;
  height: 100%;
  max-height: 30rem;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.tags {
  display: flex;
  gap: 1rem;

  width: 95%;
  padding: 1rem;
  border-bottom: 1px solid #000;
  margin: 0 auto;

  overflow: scroll;
}

@media (min-width: 500px) {
  .tags {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  
    width: 95%;
    padding: 1rem;
    border-bottom: 1px solid #000;
    margin: 0 auto;
  
    overflow: hidden;
  }
}

.tags .pet-tag, .tags .situacao-tag, .tags .data-tag{
  font-size: 2rem;
  padding: 0.3rem 2rem;
  font-weight: 600;
  background-color: #C5DDE5;
  border-radius: 1rem;
  gap: 1rem;
}

.situacao-tag{
  color: #BF0202;
}

.desc-pet{
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}

.desc-pet h1 {
  font-size: 3rem;
  font-weight: 700;
}

.desc-pet p {
  opacity: .8;
}

.desc-pet button{
  width: 90%;
  padding: 1rem;
  margin: 1.6rem auto;

  border-radius: 999rem;
  background-color: transparent;
  cursor: pointer;
}

.desc-pet button:hover{
  transform: scale(1.1);
  transition-duration: 300ms;
}

.pet-card:hover{
  transform: scale(1.01);
  filter: saturate(1.5);
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/*<=================================================>*/
/*<=================ANÚNCIOS========================>*/

.anuncio {
    display: none;
}
.mostrar {
    display: block;
}
.img_anuncio{
    position: relative;
    width: 100%;
    top: 5rem;
    
}
/*<=================================================>*/
/*<======AREA DE DOAÇÃO (Faça a diferença...)=======>*/

.donate {
  margin-top: 8rem;
  text-align: center;
}
#fundo{
  width: 100%; 
}
.content{
  margin-top: -40%;
}

@media only screen and (max-width: 700px) {
  .content{
    margin-top:-50%;
  }
}
.content button {
  font-size: 1.8rem;
  font-weight: 500;
  font-weight: bold;
  background-color: transparent;
  padding: 1rem 5rem;
  border-radius: 999rem;
  border: 2px solid #000;
  margin: 3rem 0;
  cursor: pointer;
  color: #000;
  z-index: 1;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

}
.content button:after {
 position: absolute;
 content: "";
 width: 0;
 height: 100%;
 top: 0;
 right: 0;
 z-index: -1; 
 background: #012f46;
 border-radius: 999rem;
 transition: all 0.3s ease;
}
.content button:hover {
 color: #fff;
}
.content button:hover:after {
 left: 0;
 width: 100%;
}
.content button:active {
 top: 5px;
}

/*<===========================================>*/
/*<=================FEED======================>*/

.container{
  margin-top: 10rem;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .07);
  border: 1px solid transparent;
  transform: scale(.85);
  transition: .5s;
  margin-top: 5rem;
  background-color: #FFF;
  opacity: 0.9;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  box-shadow: none;
  border-color: var(--blue);
  transform: scale(1);
  opacity: 100%;
}
/*---------Texto----------*/
.testimonial-text{
  margin-top: 2rem;
  color:black; 
  text-align: center;
}
.testimonial-text h6{
  font-weight: bold;
  font-size: 140%;
}
.testimonial-text small{
  margin-top: 10%;
  font-size: 100%;
}
.testimonial-text p{
  margin-top: 8%;
  font-size: 100%;
}
/*-----foto de perfil-----*/
.testimonial-carousel .owl-item .testimonial-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 43%;
  margin-top: -12%;
}
.testimonial-carousel .owl-item.center .testimonial-item img {
  transform: scale(1.4);
  transition: ease 0.8s;
}

/*--------direcionais (<) (>)----------*/
.testimonial-carousel .owl-nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.bi-chevron-left, .bi-chevron-right{
  font-size: 20px;
}
.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  margin: 0 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 45px;
  transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: white;
  background: var(--blue);
}

/*<=======================================================>*/
/*<==============DETALHES/INFORMAÇÕES=====================>*/

.details {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.details_section {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 8rem;
  width: 50vw;
  margin: 0 auto;
}

.details_section h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}

.details_section p{
  color: #fff;
  font-size: 2rem;
}

/*<========================================================>*/


@keyframes downTop {
  0%{
    opacity: 0;
    transform: translateY(15px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topDown {
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes leftRight {
  0%{
    opacity: 0;
    transform: translateX(-15px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width:440px){
  .carouselpet .card{
    height: 26rem;
  }
}

@media (min-width:1000px){
  .pets-cards {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .menuBar, .menuBar img{
    display: none;
  }

  header {
    display: flex;
  }

  .menuDesktop {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .pet-cards {
    display: flex;
    flex-direction: row;
  }

  .menuDesktop ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.6rem;
  }

  .menuDesktop ul li {
    text-decoration: none;
  }

  .menuDesktop ul li a{
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
  }

  header .icon{
    display: flex;
  }

  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 85rem;
  }
}

@media (max-width: 920px) {

}

