@import '../../../global.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-blue);
  color: black;
  font-size: 1.6rem;
}

.overflow{
  overflow-y: hidden;
}

/*  */

/*<===============MENU=============>*/

.logoHeader img {
  height: 4rem;
  margin-top: .5rem;
  padding: 0 .8rem;
}

header .icon img{
  border-radius: 999rem;
  height: 4rem;
  border: 1px solid black;
}

header .icon {
  display: none;
  align-items: center;
}

.menuBar {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menuBar img{
  display: flex;
  height: 4rem;
}

.activeMenu{
  width: 100vw;
  height: 100vh;
  background-color: var(--brown);
}


.menuMobile {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.menuMobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.6rem;
  list-style: none;
}

.menuMobile ul li a{
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;

  border: 1px solid white;
  border-radius: 3rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.menuMobile ul li:hover{
  transform: scale(1.1);
  transition: 100ms;
}

/*<===================================>*/
/*<============SLIDESHOW==============>*/

.banner {  
  position: relative;
}

.container-fluid {
  padding: 0;
}

.carousel-item img {
  width: fit-content;
}


#mainSlider .carousel-caption h2 {
  font-size: 5rem;
}

.banner .logo{
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 5rem;
  left: 2rem;
}

.logo img {
  height: 10rem;
  width: 10rem;
  background-color: transparent;
}

.logo h1 {
  font-size: 1.8rem;
}

.search img {
  height: 4rem;

  position: absolute;
  top: 7.5rem;
  right: 4.5rem;
}

.arrowLeft img{
  height: 4rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 3rem;
}

.arrowRight img{
  height: 4rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 3rem;
}

.hide {
  display: none;
}

/*<=========EM DESTAQUE===========>*/

.highlights {
  margin: 20rem auto;
}

.highlights h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.pets-cards{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pet-card {
  padding: 1rem;
  background-color: white;
  height: 50rem;
  width: 95%;
  max-width: 35rem;
  margin: 0 auto;
  border-radius: .8rem;
  box-shadow: 2px 4px 12px 0px #00000080;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: black;
}

.pet-card h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pet-card ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  list-style: none;
}

.pet-card h1 {
  font-size: 3.2rem;
}

.image-card {
  text-align: center;
  width: 100%;
  height: 60%;
}

.image-card img {
  width: 100%;
  max-width: 30rem;
  height: 100%;
  max-height: 30rem;
  margin: 0 auto;
  object-fit: cover;
  border-radius: .8rem;
}

.pet-card:hover{
  transform: scale(1.1);
  filter: saturate(1.5);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/*<=================================================>*/
/*<======AREA DE DOAÇÃO (Faça a diferença...)=======>*/

.donate {
  margin-top: 16rem;
  text-align: center;
}

.content button {
  font-size: 1.8rem;
  font-weight: 500;
  font-weight: bold;
  background-color: transparent;
  padding: 1rem 5rem;
  border-radius: 999rem;
  border: 2px solid #000;
  margin: 3rem 0;
  cursor: pointer;
  color: #000;
  z-index: 1;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

}
.content button:after {
 position: absolute;
 content: "";
 width: 0;
 height: 100%;
 top: 0;
 right: 0;
 z-index: -1; 
 background: #012f46;
 border-radius: 999rem;
 transition: all 0.3s ease;
}
.content button:hover {
 color: #fff;
}
.content button:hover:after {
 left: 0;
 width: 100%;
}
.content button:active {
 top: 5px;
}

/*<===========================================>*/
/*<=================FEED======================>*/


.container{
  margin-top: 10rem;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .07);
  border: 1px solid transparent;
  transform: scale(.85);
  transition: .5s;
  margin-top: 5rem;
  background-color: #FFF;
  opacity: 0.9;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  box-shadow: none;
  border-color: var(--blue);
  transform: scale(1);
  opacity: 100%;
}
/*---------Texto----------*/
.testimonial-text{
  margin-top: 2rem;
  color:black; 
  text-align: center;
}
.testimonial-text h6{
  font-weight: bold;
  font-size: 140%;
}
.testimonial-text small{
  margin-top: 10%;
  font-size: 100%;
}
.testimonial-text p{
  margin-top: 8%;
  font-size: 150%;
}
/*-----foto de perfil-----*/
.testimonial-carousel .owl-item .testimonial-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 43%;
  margin-top: -12%;
}
.testimonial-carousel .owl-item.center .testimonial-item img {
  transform: scale(1.4);

}

/*--------direcionais (<) (>)----------*/
.testimonial-carousel .owl-nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.bi-chevron-left, .bi-chevron-right{
  font-size: 20px;
}
.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  margin: 0 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 45px;
  transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: white;
  background: var(--blue);
}

/*<=======================================================>*/
/*<==============DETALHES/INFORMAÇÕES=====================>*/

.details {
  position: relative;
}

.background-section{
  width: clamp(32rem, 32rem + 100vw, 100vw);
  position: relative;  

}

.details-section {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 8rem;
}

.detailOne, .detailTwo, .detailThree {
  position: absolute;
  top: 30%; /* mudar quando colocar a query 756 */
}

.detailOne{
  left: 8rem;
}

.detailThree{
  right: 6rem;
}

.detailOne, .detailTwo, .detailThree {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detailOne h2, .detailTwo h2, .detailThree h2{
  font-size: clamp(2rem,5vw,4rem);
  margin: .2rem 0 1rem 0;
  color: #fff;
}

.detailOne p, .detailTwo p, .detailThree p{
  font-size: clamp(5px,2vw,50px);
  width: 20rem;
  justify-content: center;
  color: #fff;
}

.detailOne img, .detailTwo img, .detailThree img{
  width: 10rem;
}

/*<========================================================>*/


@keyframes downTop {
  0%{
    opacity: 0;
    transform: translateY(15px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topDown {
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes leftRight {
  0%{
    opacity: 0;
    transform: translateX(-15px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width:440px){
  .carouselpet .card{
    height: 26rem;
  }
}

@media (min-width:1000px){
  .pets-cards {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .menuBar, .menuBar img{
    display: none;
  }

  header {
    display: flex;
  }

  .menuDesktop {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .pet-cards {
    display: flex;
    flex-direction: row;
  }

  .menuDesktop ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.6rem;
  }

  .menuDesktop ul li {
    text-decoration: none;
  }

  .menuDesktop ul li a{
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
  }

  header .icon{
    display: flex;
  }

  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 85rem;
  }
}

@media (max-width: 920px) {

}

